@import "tailwindcss";

@font-face {
  font-family: "Louis";
  src: url("/louisregular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Louis", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0F172A;
}